body {
				margin-left: 15%; 
				margin-right: 10%;
			}
			
DIV {
				text-align : center;
				font-family : Arial;
				font-size : small;
				font-weight : bold;
			}

			h1 {
				COLOR: maroon; FONT-FAMILY: Georgia, serif; FONT-SIZE: x-large; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: center; line-height : 1.15em;
			}
			
blockquote {
				BACKGROUND-COLOR: #FFFFCE;
				COLOR: black;
				FONT-FAMILY: Georgia, serif;
				FONT-SIZE: 12pt;
				FONT-STYLE: italic;
				MARGIN-LEFT: 50px;
				MARGIN-RIGHT: 50px;
				TEXT-ALIGN: left;
				line-height : 1.3em;
			}
			h2 {
				margin-left: -8%; COLOR: maroon; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}
			
			h3 {
				margin-left: -5%; COLOR: navy; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}

			h4 {
				color: #CC6600; FONT-FAMILY: Georgia, serif; FONT-SIZE: medium;  TEXT-ALIGN: left; line-height : 1.35em; 
			}

			h5 {
			margin-left: 5%;
			color: #3E9F43;
	FONT-FAMILY: Georgia, serif;
	FONT-SIZE: medium;
	TEXT-ALIGN: left;
	line-height : 1.35em;
			}
			
			p {
	COLOR: black;
	FONT-FAMILY: Georgia, serif;
	FONT-SIZE: medium;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-ALIGN: left;
	line-height : 1.4em;
}



			li {
		COLOR: black;
		FONT-FAMILY: Georgia, serif;	
		FONT-SIZE: medium;	
		FONT-STYLE: normal;
		FONT-WEIGHT: normal;
		margin-bottom : 0.4em;
		line-height: 1.5em;
}
			
			q {
	font-style : italic;
}
