<BODY>
<A NAME="intro"></A><h1 align=center>Editorial</h1>
<hr>
<p>This second issue of Information Research, the electronic version of <i>Information Research News</i> contains three papers.  Database design plays an important part in both the teaching and the research programmes of the Department, and the first paper provides an overview of some of the new, knowledge-based approaches that are being developed to assist a designer by, for example, providing advice or suggesting alternative solutions.  The work presented here is part of an ongoing doctoral study in this area.  The second paper reports the principal results of an investigation into the relationship between information handling and business performance.  A case-study approach of twelve high-performing companies demonstrates the increasing importance attached to information management in such companies and also provides a model that may be of use to subsequent workers in this field.  Finally, given the current interest in the World-Wide Web and its impact on business, the third paper is particularly timely.   It reports on surveys of business users of the WWW and on the key issues that must be faced to make the Internet more "business-friendly".
<p>
<p>The issue is completed by a list of all of the MA and MSc dissertations produced during the final semester of their one-year programmes by the students on our 1994/95 taught-course programmes.  Most of these dissertations are available for loan on request from the Department.
<p>
As this is an <i>experimental</i> electronic journal, it will not surpise readers that there are slight changes.   The main change is that there is no attempt to provide backward links from the bibliographies to the relevant point in the text.  Netscape's "Back" button serves the same purpose and takes away the need to do all that editing.   The variation in citation practice continues, since the papers are generally early versions of papers for print publication, and publishing styles continue to vary.
<p>
<p>Copyright of papers accepted for <I>Information Research </I>rests
with the author(s) and publication in this form is not intended to limit
revision and subsequent publication elsewhere. </p>

<p>
<p><i>Information Research</i> is designed, maintained and published by by <a ref="mailto:t.d.wilson@sheffield.ac.uk"> Professor Tom Wilson.</a> Design and editorial content  &copy; T.D. Wilson, 1996
</body>


 

