body {
			margin-left: 15%; margin-right: 10% 
			}

	h1 {
		 COLOR: maroon; FONT-FAMILY: serif; FONT-SIZE: x-large; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: center
	}
	blockquote {
		BACKGROUND-COLOR: #FFFFCE;
		COLOR: black;
		FONT-FAMILY: serif;
		FONT-SIZE: medium;
		FONT-STYLE: italic;
		FONT-WEIGHT: 500;
		MARGIN-LEFT: 50px;
		MARGIN-RIGHT: 50px;
		TEXT-ALIGN: justify
	}
	h2 {
		 margin-left: -8%; COLOR: navy; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
	}
	h3 {
		 margin-left: 5%; COLOR: teal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
	}
	
			h4 {
				color: #CC6600; FONT-FAMILY: Verdana, sans-serif; FONT-SIZE: medium; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-ALIGN: left 
		}
		
	p {
	COLOR: black;
	FONT-FAMILY: serif;
	FONT-SIZE: 120%;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-ALIGN: justify;
	line-height : normal;
}
	li {
		COLOR: black; FONT-FAMILY: serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: normal
	}
	ol {
		COLOR: black; FONT-FAMILY: serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: normal
	}
	ul {
		COLOR: black; FONT-FAMILY: serif; FONT-SIZE:medium; FONT-STYLE: normal; FONT-WEIGHT: normal
	}

